

@font-face {
	font-family: iconic;
    src: url(font-awesome/fonts/wingding.ttf);
}
@font-face {
	font-family: sutonny;
	src: url(font-awesome/fonts/sutonny.ttf);
}
.nt {
	background: transparent;
    position: fixed;
    top: 0;
    right: 5px;
    opacity: 0.3;
}
.nt a {
	display: inline-block;
    margin: 5px;
    color: green;
    font-size: 150%;
}
.nt:hover {
	opacity: 1;
}
.bg-title {
	background-attachment: fixed;
	background-image: url(img/title-background1.jpg);
	padding-bottom: 14%;
	padding-top: 10%;
	padding-right: 25%;
	padding-left: 25%;
	text-align: center;
}
.bg-body {
	background-attachment: fixed;
	background-image: url(img/art.jpg);
}
.bg-title h1, .bg-title h2, .bg-title p {
	font-family: sutonny;
	color: white;
}
.bg-script {
	background: url(img/story-background.jpg);
	padding: 7%;
	margin: 0 auto;
}
.bg-story {
	background: url(img/ele1.png);
	background-attachment: fixed;
}
.fixed-side {
        position: fixed;
        top: 30%;
    }
    .fixed-side i {
        font-size: 220%;
        display: block;
        margin-left: 7px;
        color: gray;
        opacity: 0.3;
    }
    .fixed-side a {
    	text-decoration: none;
    }
    .fixed-side i:hover {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        -webkit-transition-duration: 0.35s;
        transition-duration: 0.35s;
    }
    .facebook:hover {
        color: #3b5998;
        opacity: 1;
    }
    .twitter:hover {
        color: #00aced;
        opacity: 1;
    }
    .google-plus:hover {
        color: #dd4b39;
        opacity: 1;
    }
    .linkedin:hover {
        color: #0077b5;
        opacity: 1;
    }
    .flickr:hover {
        color: #ff0084;
        opacity: 1;
    }
    .pinterest:hover {
        color: #cb2027;
        opacity: 1;
    }
    .github:hover {
        color: silver;
        opacity: 1;
    }
    .skype:hover {
    	color: #12A5F4;
    	opacity: 1;
    }
    
.toplink i {
    position: fixed;
    bottom: 8px;
    right: 10px;
    font-size: 35px;
    color: purple;
    opacity: 0.3;
}
.toplink i:hover {
	color: #00aced;
	opacity: 1;
	-webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}
.tr {
	background: transparent;
}
.lbl h5 {
	display: inline-block;
	border: 1px solid white;
	width: 160px;
	height: 30px;
	padding: 6px;
	color: #FFFFFF;
	border-radius: 4px;
	margin-right: 3px;
	margin-left: 3px;
	margin-bottom: 3px;
	font-size: 100%;
}
.a {
	text-decoration: none;
}
.b {
	text-decoration: none;
}
.c {
	text-decoration: none;
}
.d {
	text-decoration: none;
}
.e {
	text-decoration: none;
}
.f {
	text-decoration: none;
}
.g {
	text-decoration: none;
}
.a h5:hover {
	border: 1px solid transparent;
	cursor: pointer;
}
.b h5:hover {
	background-color: #9C9CFF;
	cursor: pointer;
	color: white;
}
.c h5:hover {
	background-color: #0066FF;
	cursor: pointer;
	color: white;
}
.d h5:hover {
	background-color: #009900;
	border: 2px solid #009900;
	cursor: pointer;
	color: white;
}
.e h5:hover {
	background-color: #FF6600;
	border: 2px solid #FF6600;
	cursor: pointer;
	color: white;
}
.f h5:hover {
	background-color: #FF6600;
	border: 2px solid #FF6600;
	cursor: pointer;
	color: white;
}
.g h5:hover {
	background-color: #CC0000;
	border: 2px solid #CC0000;
	cursor: pointer;
	color: white;
}
.logo {
	width: 160px;
	margin: 0 auto;
}
hr {
	border: 0;
	width: 100%;
	color: black;
	background-color: black;
	height: 3px;
}
.name h3 {
	border-radius: 50%;
	padding: 6px;
	display: block;
	width: 125%;
	text-align: center;
	margin-left: -20px;
	margin-right: -20px;
	font-weight: bold;
}
.name:hover h3 {
	border:none;
	font-size: 200%;
	color: gray;
	cursor: pointer;
}
.family img {
	height: 150px;
    width: 150px;
    margin: 0 auto;
}
.balance i {
	font-size: 300%;
	color: silver;
	border: 4px solid silver;
	border-radius: 50%;
	padding: 10px;
	margin: 10px;
}
.slid {
	margin: 10px;
	padding: 5px;
	color: silver;
}

.trb {
	background: transparent;
	opacity: 0.3;
}
.trb:hover {
	opacity: 1;
  	transition-duration: 0.8s;
}
.pm button {
	background: transparent;
	color: black;
	text-align: left;
	opacity: 1;
}
.pp {
	padding-left: 30px;
	padding-right: 30px;
}
.pp h4 {
	text-align: center;
}
.grids {
    height: 170px;
    width: 95%;
}
.panel {
    border: 4px solid black;
}